:root {

	--menu-bg-color: #ff0000;
	--menu-bg-color-checked: rgba(0,0,0,.4);
	--sub:  rgba(255,255,255,.3);
	--bg-sub: rgba(0,0,0,.3);
	--anavlabel: rgba(255,255,255,0.1);
	--nv-color: rgba(1,1,1,1) ;
	--menu-links: rgba(255,255,255,1);

}

.td1{

	border-right: 1px solid black;

}

.td1,
.td2{

	border-bottom: 1px solid black;
	width: 40%;

}

.td1 > label,.td2 > label{

	line-height: 50px;
	
}

#logo1 {
	
	border-radius: 50%;

}

footer{

	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;

}

.column{

	display: flex ;
	flex-direction: row;
	width: 100%;
	margin: 0 auto;
	background-color: #ccc;

}
.column ul{
	
	width: 33.33%;
	list-style: none;
	text-align: center;
	
}

.column a{

	color: var(--nv-color);
	text-decoration: none;

}

[class^=article-]{

	background-color: red;

}
.container {

	position: absolute;
	z-index: 1;
	top: 60px;
	width: 90%;
	left: 5%;

}