:root {
	--menu-bg-color: #ff3344;
	--menu-bg-color-checked: rgba(0,0,0,.4);
	--sub:  rgba(255,255,255,.3);
	--bg-sub: rgba(0,0,0,.3);
	--anavlabel: rgba(255,255,255,0.1);
	--nv-color: rgba(255,255,255,1);
}

* {
	margin: 0;
	padding: 0;
	font-family: "tahoma";
	
}

nav {
	background-color: var(--menu-bg-color);

}

nav a, nav label {
	background-color: var(--anavlabel);
}

.dMenu {
	display: column;
	position: absolute;
	z-index: 12;
	top: 60px;
	left: -300px;	
	max-width: 350px;
	min-height: 40px;
	max-height: 600px;
	line-height: 40px;
	background: var(--menu-bg-color) ;
	transition: .2s all;
	text-align:left;
	padding: 0px 0px;
	overflow: auto;
}

nav {
	display: flex;
	flex-direction: space-between;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 60px;
	line-height: 60px;

	color: var(--nv-color);

}

#lbequiv {

	width: 60px;
	line-height: 60px;
	height: 60px;
	text-align: center;
	cursor: pointer;

}

#bt-equiv:checked ~ #lbequiv,
nav a:hover, 
input:checked ~ label, 
label:hover,
.SInput-1:checked ~ div[id^=Sub-1],
.SInput-2:checked ~ div[id^=Sub-2],
#bt-equiv:checked ~ label, 
nav input[id^="bt-*"]:checked ~ label
{
	background-color: var(--menu-bg-color-checked);
	
}
#bt-equiv:checked ~ .dMenu {
	left: 0px;

}

.dMenu label ,
.dMenu a
{
	display: block;
	width: 100%-30px;
	cursor: pointer;
	color: white;
	text-decoration-line: none;
	display: block;
	padding:0px 15px;

}


div[id^=Sub-] {

	display: flex;
	flex-direction: column;
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 0px;
	line-height: 40px;
	max-height: 0px;
	min-height: 0px;
	left: 0px;
	overflow:auto;
	transition: .2s all;
	background-color: var(--sub);
}
.SInput-1:checked ~ div[id^=Sub-1],
.SInput-2:checked ~ div[id^=Sub-2]{

	position: relative;
	z-index: 10;
	width: 100%;

	min-height: 30px;
	height: auto;
	max-height:1000px;

	left: 0px;
	background-color: var(--bg-sub);

}

nav input {
	display: none;
}


nav figure {

	margin-right:0px;

}
nav figure img{
	margin-left: 5px;
	width: 60px;
	height: 60px;
	line-height: 60px;


}

nav h2 {
	margin-left: 5px;
}

@media only screen and (min-width: 300px) and (max-width: 320px) {
	.dMenu {
		max-width: 200px;
		width: 220px;
		left: -100%;
	}
}
@media only screen and (min-width: 300px) and (max-width: 320px) {
	.dMenu {
		max-width: 100%;
		width: 100%;
		left: -100%;
	}
}